.btn {
  font-family: inherit;
  display: block;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  &.toggle {
    background-color: red;
    color: #fff;
  }
}
